.postmodalcontainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    color: black;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.1s;
}

.postmodalcontent {
    width: 100%;
    max-width: 552px;
    background-color: white;
    max-height: 90%;
    overflow: initial;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 32px;
    margin: 0 auto;
}

.postheader {
    display: block;
    padding: 16px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 16px;
    list-style: 1.5;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postheader>button {
    height: 32px;
    width: 32px;
    min-width: auto;
    color: rgba(0, 0, 0, 0.15);
}

.postheader>button>img {
    pointer-events: none;
}


/* ####################   sharedcontent  styling  ################################## */

.post-sharedcontent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    vertical-align: baseline;
    background: transparent;
    padding: 8px 12px;
}

.post-userinfo {
    display: flex;
    align-items: center;
    padding: 12px 24px;
}

.post-userinfo>img {
    width: 48px;
    height: 48px;
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 50%;
}

.post-userinfo>span {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 5px;
}


/* ######################## share creation ####################  */

.sharecreation {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 12px 16px;
}

.attachassests {
    align-items: center;
    display: flex;
    padding-right: 8px;
}

.assetbutton1,
.assetbutton2,
.assetbutton3 {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    min-width: auto;
    color: rgba(0, 0, 0, 0.5);
}

.sharecomment {
    padding-left: 8px;
    margin-right: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
}

.assetbutton3>img {
    margin-right: 5px;
}

.postbutton {
    min-width: 60px;
    border-radius: 20px;
    padding-left: 24px;
    /* padding-right: ; */
    padding-top: 10px;
    /* background: #0a66c2; */
    /* color: white */
}

.editor {
    padding: 12px 24px;
}

.editor>textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
    font-size: 16px;
    height: 35px;
    margin-bottom: 20px;
}